.column-container {
    min-height      : 50px;
    min-width       : 300px;
    max-width       : 400px;
    display         : flex;
    flex-direction  : column;
}

.column-title {
    min-height      : 4vh;
    min-width       : inherit;
    max-width       : inherit;
    margin-bottom   : 3vh;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    color           : var(--secondary-text-color);
}

.column-title svg {
    width   : 15px;
    height  : 15px;
}

.column-title p {
    flex            : 1 1 auto;
    display         : flex;
    justify-content : center;
}

.column-title #title {
    flex            : 15 1 auto;
    color           : var(--primary-text-color);
    justify-content : initial;
}

@media only screen and (max-width: 450px) {
    .column-container {
        margin : 10px 0px 10px 0px;
    }

    .column-title {
        margin-bottom : 10px;
    }
}