.column-container {
    min-height      : 10vh;
    min-width       : 20vw;
    max-width       : 25vw;
    display         : flex;
    flex-direction  : column;
}

.column-title {
    min-height      : 4vh;
    width           : 100%;
    margin-bottom   : 3vh;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    color           : var(--secondary-text-color);
}

.column-title svg {
    width   : 15px;
    height  : 15px;
}

.column-title p {
    flex : 1 1 auto;
    display : flex;
    justify-content : center;
}

.column-title #title {
    flex    : 15 1 auto;
    color   : var(--primary-text-color);
    justify-content : initial;
}